<h1>{{name}}</h1>

<dl>
  <dt>Nombre:</dt>
  <dd>{{name}}</dd>

  <dt>edad:</dt>
  <dd>{{age}}:</dd>

  <dt>Metodo:</dt>
  <dd>{{ getHeroDescripcion() }}</dd>


  <dt>Capitalizado:</dt>
  <dd>{{capitalizarnom}}</dd>

</dl>

<button
*ngIf="name !=='Thor'"
(click)="changeHero()"
class="btn btn-primary mx-2">
  Cambiar nombre:
</button>

<button *ngIf="age !==25"
(click)="changeAge()"class="btn btn-primary mx-2">
  Cambiar edad:
</button>

<button
  (click)="resetform()"class="btn btn-primary mx-2">
  Reiniciar
</button>
